<div class="container mt-5">
  <div class="row">
    <div class="col-10 mx-auto" style="text-align: center">
      <i class="fas fa-utensils" style="font-size: 200px; margin-bottom: 50px;"></i>
      <h3>Welcome to <strong>recipegram</strong>!</h3>
    </div>
  </div>
</div>
